body {
  margin:0px;
  padding:0px;
  background-image: url("../img/img1.jpg");
  background-size:100% 740px;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

.menu {
  width:100%;
  height:650px;
  padding:0px;
  margin:0px;
}

.ban {
  padding:0px;
  background-color:rgba(0, 0, 0, .4);
  height:80px;
  width:100%;
  position:fixed;
  top:0px;
  z-index:5;
}

.ban ul li a {
  color:white;
  text-decoration:none;
}

.ban ul li {
  text-decoration:none;
  float:left;
  color:White;
  padding:23px;
  list-style:none;

}

.ban ul li:hover a {
  color:#0093ff;
}


.ng {
  background:rgba(0, 0, 0, .5);
  position:absolute;
  top:0px;
  height:1460px;
  width:100%;
}

#formulario {
  height:480px;
  width:40%;
  background:White;
  position:fixed;
  top:100px;
  left:35%;
  visibility:hidden;
}

#formulario .der {
  width:30%;
  height:100%;
  background:#0093ff;
}

#formulario .der img {
  width:70%;
  display:box;
  filter:invert(100%);
  margin-top:50%;
  margin-left:15%;
}

#formulario .iz {
  position:relative;
  left:32%;
  top:-100%;

}

.titulo {
  color: $0093ff;
  width: 90%;
  font-size: 3em;
}


.con #uno {
  background-color:white;
  height:720px;
  padding:20px;
}
