body {
  margin:0px;
  padding:0px;
  background-image: url("BACK.JPG");
  background-size:100% 740px;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

.menu {
  width:100%;
  height:700px;
  padding:0px;
  margin:0px;
}

.ban {
  padding:0px;
  background-color:rgba(0, 0, 0, .4);
  height:80px;
  width:100%;
  position:fixed;
  top:0px;
  z-index:5;
}

.ban ul li a {
  color:white;
  text-decoration:none;
}

.ban ul li {
  text-decoration:none;
  float:left;
  color:White;
  padding:23px;
  list-style:none;

}

.ban ul li:hover a {
  color:#0093ff;
  cursor: pointer;
}


.con #uno {
  background-color:white;
  height:720px;
  brder:1px solid red;
  padding:20px;

}

.con #uno p{
  display:inline-block;
  font-size:3em;
  position:relative;
  width:49%;
  top:-150px;
}

.con #uno img {
  padding:0px;
  margin:0px;
  height:450px;
  position:relative;
  top:0px;
  left:10%;
  border-radius:100%;
  box-shadow:0px 10px 30px black;
}

.con #uno h1 {
  color:#0093ff;
  font-size:5em;
  animation-duration:5s;
  text-shadow: 0px 5px 10px grey;
}

.ng {
  background:rgba(0, 0, 0, .5);
  position:absolute;
  top:0px;
  height:10000px;
  width:100%;
}

#formulario {
  height:480px;
  width:40%;
  background:White;
  position:fixed;
  top:100px;
  left:35%;
  visibility:hidden;
}

#formulario .der {
  width:30%;
  height:100%;
  background:#0093ff;
}

#formulario .der img {
  width:70%;
  display:box;
  filter:invert(100%);
  margin-top:50%;
  margin-left:15%;
}

#formulario .iz {
  position:relative;
  left:32%;
  top:-100%;

}

.titulo {
  color: $0093ff;
  width: 90%;
  font-size: 3em;
}

.Servicios {
  height:2880px;
  width:100%;
  background-color:#EEEEEE;
}

.Informacion {
  height:2880px;
  width:100%;
  background-color:White;
}

.productos{
  height:720px;
  width:100%;
  background-color:#EEEEEE;
}

.Servicios #backser {
  background-image: url("BACK2.JPG");
  background-size:100% 720px;
  background-repeat:no-repeat;
  height:720px;
  width:100%;
}

.Servicios #backser #titulo {
  color:white;
  text-shadow:0px 5px 15px black;
  font-size:6em;
  position:absolute;
 left:50px;

}

.foot {
  height:500px;
  width:100%;
  background-color:Grey;
}
.Informacion #backinfo {
  background-image: url("back1.jpg");
  background-size:100% 720px;
  background-repeat:no-repeat;
  height:720px;
  width:100%;
}

.Servicios #seruno {
  height:720px;
  width:100%;
}


.Servicios #serdos {
  height:720px;
  width:100%;

}


.Servicios #sertres {
  height:720px;
  width:100%;

}
.Informacion #seruno {
  height:720px;
  width:100%;

}

.productos {
  background-image: url("back3.jpg");
  background-size:100% 720px;
  background-repeat:no-repeat;
  height:720px;
  width:100%;
}
